openapi: 3.0.0
info:
  title: Smart Wallets API V2 (Data Layer)
  version: 1.0.0
servers:
  - url: https://api.fuse.io
components:
  securitySchemes:
    bearerAuth:
      bearerFormat: 'JWT'
      type: http
      scheme: bearer
paths:
  /api/v2/smart-wallets/auth:
    post:
      tags:
        - Data layer
      summary: Auth
      description: Authenticate user using signed data standard EIP-191
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                hash:
                  type: string
                  example: '0xdf6d23a8155755395ba2cf5ae9b18b5988f49aeb907f267525975832d544c88f'
                signature:
                  type: string
                  example: '0xd773c543f1702629f0dfe2f788cc46a56bd504e1eb25bb26bdd4983d928440302f402cc3183c98814e6d467a00f969e238604a74cc5a3d2ec057d937ceec1ba71c'
                ownerAddress:
                  type: string
                  example: '0x61Cda92886f6aA817587bd190D77fA08a14A1be1'
                smartWalletAddress:
                  type: string
                  example: '0x5bbea139c1b1b32cf7b5c7fd1d1ff802de006117'
              example:
                hash: >-
                  0xdf6d23a8155755395ba2cf5ae9b18b5988f49aeb907f267525975832d544c88f
                signature: >-
                  0xd773c543f1702629f0dfe2f788cc46a56bd504e1eb25bb26bdd4983d928440302f402cc3183c98814e6d467a00f969e238604a74cc5a3d2ec057d937ceec1ba71c
                ownerAddress: '0x61Cda92886f6aA817587bd190D77fA08a14A1be1'
                smartWalletAddress: '0x5bbea139c1b1b32cf7b5c7fd1d1ff802de006117'
      parameters:
        - name: apiKey
          in: query
          schema:
            type: string
          description: (Required) Your Public API key
          example: '{{publicKey}}'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
              example:
                jwt: >-
                  eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJvd25lckFkZHJlc3MiOiIweDgwOUI3ODM3MWY1MGYyOEQyQzYxRjYzZTQ4YjU4YjdFZTA1M0UzRWEiLCJwcm9qZWN0SWQiOiI2M2NkMWJjMWQxOGMxNjQyMmJiOGMwYzMiLCJpYXQiOjE2NzUzMjcxOTR9.-iWIEN6OLyCI4j5WOA8V2mH3KQtrmEoUGhIS4migV9g
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
              example:
                statusCode: 400
                errorMessage: Owner Address does not match recovered address in signature
                path: /api/v2/smart-wallets/auth?apiKey={{publicKey}}
  /api/v2/smart-wallets/actions:
    get:
      tags:
        - Data layer
      summary: Get Wallet Actions (4337)
      security:
        - bearerAuth: []
      parameters:
        - name: apiKey
          in: query
          schema:
            type: string
          description: (Required) Your Public API key
          example: '{{publicKey}}'
        - name: page
          in: query
          schema:
            type: integer
          example: '1'
        - name: limit
          in: query
          schema:
            type: integer
          example: '10'
        - name: tokenAddress
          in: query
          schema:
            type: string
          example: '0xeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                docs:
                  - _id: 6502e7648e04f67688ac69f9
                    walletAddress: '0x5bbea139c1b1b32cf7b5c7fd1d1ff802de006117'
                    name: swapTokens
                    status: pending
                    received:
                      - name: Luna Terra
                        symbol: atLUNA
                        address: '0x588e24DEd8f850b14BB2e62E9c50A7Cd5Ee13Da9'
                        decimals: 18
                        value: '12320154038834973'
                        type: ERC-20
                        _id: 6502e7648e04f67688ac69fa
                    sent:
                      - name: GoodDollar
                        symbol: G$
                        address: '0x495d133B938596C9984d462F007B676bDc57eCEC'
                        decimals: 2
                        value: '1'
                        to: '0xE3F85aAd0c8DD7337427B9dF5d0fB741d65EEEB5'
                        type: ERC-20
                        _id: 6502e7648e04f67688ac69fb
                    userOpHash: '0x111'
                    txHash: ''
                    blockNumber: 0
                    description: 0.01 G$ was swapped to 0.012320154038834972 atLUNA
                    createdAt: '2023-09-14T10:58:44.641Z'
                    updatedAt: '2023-09-14T10:58:44.641Z'
                    __v: 0
                  - _id: 6502e75d8e04f67688ac69f3
                    walletAddress: '0x5bbea139c1b1b32cf7b5c7fd1d1ff802de006117'
                    name: swapTokens
                    status: pending
                    received:
                      - name: GoodDollar
                        symbol: G$
                        address: '0x495d133B938596C9984d462F007B676bDc57eCEC'
                        decimals: 2
                        value: '1693317379'
                        type: ERC-20
                        _id: 6502e75d8e04f67688ac69f4
                    sent:
                      - name: Fuse Token
                        symbol: FUSE
                        address: '0xEeeeeEeeeEeEeeEeEeEeeEEEeeeeEeeeeeeeEEeE'
                        decimals: 18
                        value: '10000000000000000'
                        to: '0xE3F85aAd0c8DD7337427B9dF5d0fB741d65EEEB5'
                        type: native
                        _id: 6502e75d8e04f67688ac69f5
                    userOpHash: '0x111'
                    txHash: ''
                    blockNumber: 0
                    description: 0.01 FUSE was swapped to 16933173.79 G$
                    createdAt: '2023-09-14T10:58:37.027Z'
                    updatedAt: '2023-09-14T10:58:37.027Z'
                    __v: 0
                  - _id: 6502e7438e04f67688ac69ed
                    walletAddress: '0x5bbea139c1b1b32cf7b5c7fd1d1ff802de006117'
                    name: batchTransaction
                    status: pending
                    sent:
                      - name: GoodDollar
                        symbol: G$
                        address: '0x495d133B938596C9984d462F007B676bDc57eCEC'
                        decimals: 2
                        value: '10'
                        to: '0xA21d0D4Ee4F633e72CEE117b93f662aDfC30B808'
                        _id: 6502e7438e04f67688ac69ee
                      - name: GoodDollar
                        symbol: G$
                        address: '0x495d133B938596C9984d462F007B676bDc57eCEC'
                        decimals: 2
                        value: '10'
                        to: '0xA21d0D4Ee4F633e72CEE117b93f662aDfC30B808'
                        _id: 6502e7438e04f67688ac69ef
                    userOpHash: '0x111'
                    txHash: ''
                    blockNumber: 0
                    description: Batch transferring to 2 recipients
                    received: []
                    createdAt: '2023-09-14T10:58:11.870Z'
                    updatedAt: '2023-09-14T10:58:11.870Z'
                    __v: 0
                  - _id: 6502e5abdf48eca536d04252
                    walletAddress: '0x5bbea139c1b1b32cf7b5c7fd1d1ff802de006117'
                    name: nftTransfer
                    status: pending
                    sent:
                      - name: Cozy Cosmonauts
                        symbol: COZY
                        address: '0x32319834d90323127988E4e2DC7b2162d4262904'
                        value: '0'
                        to: '0x5BBEA139C1b1b32CF7b5C7fD1D1fF802De006117'
                        type: ERC-721
                        tokenId: '1'
                        _id: 6502e5abdf48eca536d04253
                    userOpHash: '0x111'
                    txHash: ''
                    blockNumber: 0
                    description: 'COZY #1 sent to 0x5BBEA139C1b1b32CF7b5C7fD1D1fF802De006117'
                    received: []
                    createdAt: '2023-09-14T10:51:23.189Z'
                    updatedAt: '2023-09-14T10:51:23.189Z'
                    __v: 0
                  - _id: 6502ca26d02e33b857c1d71c
                    walletAddress: '0x5bbea139c1b1b32cf7b5c7fd1d1ff802de006117'
                    name: unstakeTokens
                    status: pending
                    received:
                      - name: Liquid staked Fuse
                        symbol: sFUSE
                        address: '0xb1DD0B683d9A56525cC096fbF5eec6E60FE79871'
                        decimals: 18
                        value: '159514909830694585'
                        _id: 6502ca26d02e33b857c1d71d
                    userOpHash: '0x111'
                    txHash: ''
                    blockNumber: 0
                    description: Unstaked 0.15951490983069458 sFUSE
                    sent: []
                    createdAt: '2023-09-14T08:53:58.749Z'
                    updatedAt: '2023-09-14T08:53:58.749Z'
                    __v: 0
                  - _id: 6502ca20d02e33b857c1d716
                    walletAddress: '0x5bbea139c1b1b32cf7b5c7fd1d1ff802de006117'
                    name: stakeTokens
                    status: pending
                    sent:
                      - name: Fuse Token
                        symbol: FUSE
                        address: '0xEeeeeEeeeEeEeeEeEeEeeEEEeeeeEeeeeeeeEEeE'
                        decimals: 18
                        value: '100000000000000000'
                        type: native
                        _id: 6502ca20d02e33b857c1d717
                    userOpHash: '0x111'
                    txHash: ''
                    blockNumber: 0
                    description: Staked 0.1 FUSE
                    received: []
                    createdAt: '2023-09-14T08:53:52.354Z'
                    updatedAt: '2023-09-14T08:53:52.354Z'
                    __v: 0
                  - _id: 6502ca18d02e33b857c1d712
                    walletAddress: '0x5bbea139c1b1b32cf7b5c7fd1d1ff802de006117'
                    name: approveToken
                    status: pending
                    sent:
                      - name: GoodDollar
                        symbol: G$
                        address: '0x495d133B938596C9984d462F007B676bDc57eCEC'
                        decimals: 2
                        value: '1000000'
                        to: '0x5BBEA139C1b1b32CF7b5C7fD1D1fF802De006117'
                        _id: 6502ca18d02e33b857c1d713
                    userOpHash: '0x111'
                    txHash: ''
                    blockNumber: 0
                    description: Approved 10000 G$
                    received: []
                    createdAt: '2023-09-14T08:53:44.350Z'
                    updatedAt: '2023-09-14T08:53:44.350Z'
                    __v: 0
                  - _id: 6502ca12d02e33b857c1d70d
                    walletAddress: '0x5bbea139c1b1b32cf7b5c7fd1d1ff802de006117'
                    name: tokenTransfer
                    status: pending
                    sent:
                      - name: Flambucks
                        symbol: Fmb
                        address: '0xb1232fD89d027e4B949cED570609e8aD0e18811e'
                        decimals: 18
                        value: '1000000000000000000'
                        to: '0xcc95E80DA76bd41507b99d9b977Dc3062bcf6430'
                        type: ERC-20
                        _id: 6502ca12d02e33b857c1d70e
                    userOpHash: '0x111'
                    txHash: ''
                    blockNumber: 0
                    description: Transferred 1 Fmb
                    received: []
                    createdAt: '2023-09-14T08:53:38.715Z'
                    updatedAt: '2023-09-14T08:53:38.715Z'
                    __v: 0
                  - _id: 6502ca03d02e33b857c1d707
                    walletAddress: '0x5bbea139c1b1b32cf7b5c7fd1d1ff802de006117'
                    name: tokenTransfer
                    status: pending
                    sent:
                      - name: Fuse Token
                        symbol: FUSE
                        address: '0xEeeeeEeeeEeEeeEeEeEeeEEEeeeeEeeeeeeeEEeE'
                        decimals: 18
                        value: '0'
                        to: '0x5BBEA139C1b1b32CF7b5C7fD1D1fF802De006117'
                        type: native
                        _id: 6502ca03d02e33b857c1d708
                    userOpHash: '0x111'
                    txHash: ''
                    blockNumber: 0
                    description: Transferred 0 FUSE
                    received: []
                    createdAt: '2023-09-14T08:53:23.146Z'
                    updatedAt: '2023-09-14T08:53:23.146Z'
                    __v: 0
                totalDocs: 9
                limit: 20
                totalPages: 1
                page: 1
                pagingCounter: 1
                hasPrevPage: false
                hasNextPage: false
                prevPage: null
                nextPage: null
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
              example:
                statusCode: 403
                errorMessage:
                  statusCode: 403
                  message: Forbidden resource
                  error: Forbidden
                path: >-
                  /api/v2/smart-wallets/actions?apiKey={{publicKey}}
