openapi: 3.0.0
info:
  description: |

    Smart Wallets API provides a Wallets as a Service (WaaS) API for your cross-platform applications. Developers can also access the Smart Wallets API via the [fuse-sdk](/docs/fuse-box/getting-started.mdx).

    Smart Wallets API lets you authenticate users with their Externally Owned Accounts (EOAs) and create Smart Contract wallets, execute gasless transactions through the relay service, fetch balances and tokens, get transaction history, and much more.

    Each wallet created through the Smart Wallets API is an upgradable Smart Contract wallet deployed on the Fuse network. The wallet is non-custodial. Thus it has an owner in charge of the wallet. The owner controls the wallet funds and can perform other transactions by signing messages and sending them to the relayer.

    ## Working with Smart Wallets API

    Before working with Smart Wallets API, if you haven't done so, please follow the guide [Getting Started](fuse-box/getting-started.mdx).

    #### Ready to start!

    > #### 📘Remember
    >
    > For all Smart Wallets API requests, you will need to add your Public API Key to the request query params under the key `apiKey`.

    Once you have your project set and access to your Public API key, you can start working with the Smart Wallets API. Check out the [Smart Wallets API Reference](/docs/smart-wallets-api/auth) for usage.

  title: Smart Wallets API
  version: 1.0.0
servers:
  - url: https://api.fuse.io/api/v2/smart-wallets
    description: Default server
  - url: https://api.staging.fuse.io/api/v2/smart-wallets
    description: Sandbox server
components:
  securitySchemes:
    bearerAuth:
      bearerFormat: "JWT"
      type: https
      scheme: bearer
paths:
  /auth:
    post:
      tags:
        - Smart Wallets
      summary: Auth
      description: Authenticate user using signed data standard EIP-191
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                hash:
                  type: string
                  example: "0xdf6d23a8155755395ba2cf5ae9b18b5988f49aeb907f267525975832d544c88f"
                signature:
                  type: string
                  example: "0xd773c543f1702629f0dfe2f788cc46a56bd504e1eb25bb26bdd4983d928440302f402cc3183c98814e6d467a00f969e238604a74cc5a3d2ec057d937ceec1ba71c"
                ownerAddress:
                  type: string
                  example: "0x61Cda92886f6aA817587bd190D77fA08a14A1be1"
                smartWalletAddress:
                  type: string
                  example: "0x5bbea139c1b1b32cf7b5c7fd1d1ff802de006117"
              example:
                hash: >-
                  0xdf6d23a8155755395ba2cf5ae9b18b5988f49aeb907f267525975832d544c88f
                signature: >-
                  0xd773c543f1702629f0dfe2f788cc46a56bd504e1eb25bb26bdd4983d928440302f402cc3183c98814e6d467a00f969e238604a74cc5a3d2ec057d937ceec1ba71c
                ownerAddress: "0x61Cda92886f6aA817587bd190D77fA08a14A1be1"
                smartWalletAddress: "0x5bbea139c1b1b32cf7b5c7fd1d1ff802de006117"
      parameters:
        - name: apiKey
          in: query
          schema:
            type: string
          description: (Required) Your Public API key
          example: "{{publicKey}}"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  jwt:
                    type: string
                    example: >-
                      eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJvd25lckFkZHJlc3MiOiIweDgwOUI3ODM3MWY1MGYyOEQyQzYxRjYzZTQ4YjU4YjdFZTA1M0UzRWEiLCJwcm9qZWN0SWQiOiI2M2NkMWJjMWQxOGMxNjQyMmJiOGMwYzMiLCJpYXQiOjE2NzUzMjcxOTR9.-iWIEN6OLyCI4j5WOA8V2mH3KQtrmEoUGhIS4migV9g
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  errorMessage:
                    type: string
                    example: Owner Address does not match recovered address in signature
                  path:
                    type: string
                    example: >-
                      /api/v2/smart-wallets/auth?apiKey={{publicKey}}
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 403
                  errorMessage:
                    type: string
                    example: Forbidden resource
                  path:
                    type: string
                    example: >-
                      /api/v2/smart-wallets/auth?apiKey={{publicKey}}
  /actions:
    get:
      tags:
        - Smart Wallets
      summary: Get Wallet Actions
      security:
        - bearerAuth: []
      parameters:
        - name: apiKey
          in: query
          schema:
            type: string
          description: (Required) Your Public API key
          required: true
          example: "{{publicKey}}"
        - name: page
          in: query
          schema:
            type: integer
          example: "1"
        - name: limit
          in: query
          schema:
            type: integer
          example: "10"
        - name: tokenAddress
          in: query
          schema:
            type: string
          example: "0xeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  docs:
                    type: array
                    items:
                      type: object
                      properties:
                        _id:
                          type: string
                          example: "6502e7648e04f67688ac69f9"
                        walletAddress:
                          type: string
                          example: "0x5bbea139c1b1b32cf7b5c7fd1d1ff802de006117"
                        name:
                          type: string
                          example: swapTokens
                        status:
                          type: string
                          example: pending
                        received:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                example: Luna Terra
                              symbol:
                                type: string
                                example: atLUNA
                              address:
                                type: string
                                example: "0x588e24DEd8f850b14BB2e62E9c50A7Cd5Ee13Da9"
                              decimals:
                                type: integer
                                example: 18
                              value:
                                type: string
                                example: "12320154038834973"
                              type:
                                type: string
                                example: ERC-20
                              _id:
                                type: string
                                example: "6502e7648e04f67688ac69fa"
                        sent:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                example: GoodDollar
                              symbol:
                                type: string
                                example: G$
                              address:
                                type: string
                                example: "0x495d133B938596C9984d462F007B676bDc57eCEC"
                              decimals:
                                type: integer
                                example: 2
                              value:
                                type: string
                                example: "1"
                              to:
                                type: string
                                example: "0xE3F85aAd0c8DD7337427B9dF5d0fB741d65EEEB5"
                              type:
                                type: string
                                example: ERC-20
                              _id:
                                type: string
                                example: "6502e7648e04f67688ac69fb"
                        userOpHash:
                          type: string
                          example: "0x111"
                        txHash:
                          type: string
                          example:
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  errorMessage:
                    type: object
                    properties:
                      statusCode:
                        type: integer
                        example: 401
                      message:
                        type: string
                        example: Unauthorized
                  path:
                    type: string
                    example: >-
                      /api/v2/smart-wallets/actions?apiKey={{publicKey}}
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 403
                  errorMessage:
                    type: string
                    example: Forbidden resource
                  path:
                    type: string
                    example: >-
                      /api/v2/smart-wallets/actions?apiKey={{publicKey}}
