.mailChimp {
  width: 350px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.mailChimp__title {
  width: 213px;
  font-size: 16px;
  font-weight: 700;
}
.mailChimp__description {
  margin-top: 1px;
}
.mailChimp__form {
  width: 345px;
  display: flex;
  height: 51px;
  border: 1px solid #909090;
  border-radius: 1000px;
  justify-content: space-between;
  overflow: hidden;
}
.mailChimp__form__input {
  font-weight: 400;
  padding-left: 1em;
  text-align: start;
  color: #000;
  border: none;
}
.mailChimp__form__input:focus {
  outline: none;
}
.mailChimp__form__submit {
  background-color: #000;
  color: #fff;
  outline: none;
  border: none;
  padding: 11px;
  margin-right: 1px;
  border-radius: 1000px;
  font-weight: 700;
  cursor: pointer;
  height: 100%;
  width: 117px;
  z-index: 20;
}
.mailChimp__form__submit:hover {
  color: #b4f9ba;
}
.mailChimp__form__status {
  color: green;
  position: absolute;
  top: 102px;
  left: 10px;
  font-size: 16px;
}
.mailChimp__form__error {
  position: absolute;
  top: 102px;
  left: 10px;
  color: red;
  font-size: 16px;
}

@media screen and (max-width: 900px) {
  .container {
    margin-left: 16px;
  }
}
@media screen and (max-width: 600px) {
  .mailChimp {
    display: none;
  }
}
