.input_container {
  border-radius: 1000px;
  border: 1px solid #909090;
  z-index: 10;
  overflow: hidden;
  width: 300px;

  display: flex;
  justify-content: space-between;
}

.input_container input {
  outline: none;
  border: none;
  padding: 12px;
  background-color: transparent;
}
.container h3 {
  width: 213px;
  font-size: 16px;
}
.footerColumn {
  width: 250px;
}
.input_container button {
  background-color: #000;
  color: #fff;
  outline: none;
  border: none;
  padding: 11px;
  margin-right: 1px;
  border-radius: 1000px;
  font-weight: 700;
  cursor: pointer;
  height: 100%;
  width: 117px;
}
.input_container button:hover {
  color: #b4f9ba;
}
.footer__links {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 1rem;
}

@media screen and (max-width: 1100px) {
  .container {
    margin-left: 16px;
  }
  .footerColumn {
    width: 130px;
  }
  .footer__links {
    justify-content: space-between;
  }
  .col {
    width: 100px;
  }
}

@media screen and (max-width: 900px) {
}
