/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@font-face {
  font-family: 'Mona Sans';
  src:
    url('./MonaSans/Mona-Sans.woff2') format('woff2 supports variations'),
    url('./MonaSans/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

:root {
  --ifm-background-color:#F3F3F3;
  --ifm-color-primary: #000000;
  --ifm-color-primary-dark: #0a4a02;
  --ifm-color-primary-darker: #094602;
  --ifm-color-primary-darkest: #083901;
  --ifm-color-primary-light: #0c5a02;
  --ifm-color-primary-lighter: #0d5e02;
  --ifm-color-primary-lightest: #0e6b03;
  --ifm-code-font-size: 95%;
  --ifm-font-family-base: 'Mona Sans';
  --ifm-navbar-link-color: #B3B3B3;
  --ifm-menu-color:#B3B3B3;
  --ifm-breadcrumb-item-background-active: transparent;
}
[data-theme="dark"] {
  --ifm-color-primary: #89f397;
  --ifm-color-primary-dark: #67ef79;
  --ifm-color-primary-darker: #55ee69;
  --ifm-color-primary-darkest: #22e83c;
  --ifm-color-primary-light: #abf7b5;
  --ifm-color-primary-lighter: #bdf8c5;
  --ifm-color-primary-lightest: #f0fef2;
}



.breadcrumbs__link {
  color: #B3B3B3;
}
:root .DocSearch {
  --docsearch-primary-color: var(--ifm-color-primary);
  /* --docsearch-highlight-color: var(--ifm-color-primary); */
  /* --docsearch-searchbox-background: var(--ifm-color-primary); */
  /* --docsearch-text-color: var(--ifm-font-color-base); */
  --docsearch-muted-color: rgba(94, 100, 112, 0.7);
  --docsearch-container-background: rgba(94, 100, 112, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-color-secondary-lighter);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-color-secondary);
  --docsearch-searchbox-focus-background: var(--ifm-color-white);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  /* --docsearch-hit-background: red;
  --docsearch-highlight-color: red; */
  --docsearch-searchbox-shadow: inset  #000000 0 0 0 1px;
  /* Footer */
  --docsearch-footer-background: var(--ifm-color-white);
}

.DocSearch-Logo{
  display: none;
}

.theme-doc-footer-edit-meta-row{
 background-color: #F3F3F3;
}

.footer__copyright {
  text-align: left !important;
}

.theme-doc-sidebar-item-link.theme-doc-sidebar-item-link-level-1.menu__list-item a{
color: #000000;
}
.theme-doc-sidebar-item-category.theme-doc-sidebar-item-category-level-2.menu__list-item.menu__list-item--collapsed a{
  color: #B3B3B3;
  
  }

.menu__link--active{
  font-weight:600;
}

.menu__link--active a{
  background-color: #B4F9BA !important;
}

.theme-doc-markdown.markdown a{
color: #3D39FC;
}

/* footer {
  background: #ffffff ;
} */
/* .pagination-nav__link{
  background:rgb(238, 249, 253);;
} */

.theme-doc-sidebar-menu{
  padding-top: 20px;
}
.theme-doc-sidebar-menu li{
  padding-top: 3px;
}
.menu__list-item-collapsible{
  flex-direction: row-reverse;  
}
.menu__list-item-collapsible--active{
  background-color: #B4F9BA !important;
}
.menu__link.menu__link--sublist{
  padding-left: 0;
  
}
.menu__link{
  padding-left: 10px;
  
}
.menu__caret{
  padding-right: 0;
  padding-left: 0;
}
.menu__list-item menu__link{
  color: #000;
}

.menu__list-item-collapsible :hover{
color: #000;
}
.menu__link.menu__link--sublist.menu__link--active{
  font-weight: 600;
  }

.menu__caret:before{
  background: var(--ifm-menu-link-sublist-icon) 50%/1.25rem 1.25rem;
}
.menu__link{
  font-size: 15px;
}
.menu__link--sublist{
  color: #000;
}

[data-theme="dark"] .footer {
  background: #1b1b1d !important;
}

[data-theme="dark"] .pagination-nav{
  background: #1b1b1d;
}
.navbar{
  box-shadow: none;
  background-color:#F3F3F3;
  border-bottom: 1px solid #E5E5E5;
}
.navbar img{
width: 150px;
}

.DocSearch {
  width: 300px;
  height: 20px;
}
.first-page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px 0 0;
  width:1118px;
}
.first-page-header-title{
  max-width: 595px;
  height: 266px;
}
.first-page-header-title p{
    margin-top: 30px;
    width: 100%;
    font-size: 20px;
    line-height: 28px;
    color:#666666;
}
.first-page-image{
  max-width: 344px;
  max-height: 251px;
}

.explore-apis-section{
  max-width: 1200px;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.explore-apis-section-h1{
  font-size: 20px !important;
  font-weight: 700;
  width: 94%;
  
}
.explore-apis-section-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.explore-apis-section-card{
  width: 362px;
  border-radius: 12px;
  padding: 16px;
  background-color: #fff;
  margin:20px 16px 0 0;
  height: 140px;
  transition: all 0.2s;

}
.explore-apis-section-card:hover {
  box-shadow: 0px 8px 24px rgba(66, 74, 83, 0.12),
    0px 1px 3px rgba(66, 74, 83, 0.12);
    text-decoration: none;

}
.explore-apis-section h2{
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: #000000;

}
.explore-apis-section p{
  font-size: 14px;
  line-height: 20px;
  color: #737373
  ;
}

.social-section{
  margin-top: 100px;
  max-width: 1200px;
  display: flex;
 flex-wrap: wrap;
 justify-content: center;
}
.social-card{
    width: 551px;
    border-radius: 12px;
    background-color: #B4F9BA;
    height: 135px;
    padding: 34px 0 33px 24px;
    margin: 16px 16px 0 0;
    color:#000000;
    position: relative;
    transition: all 0.2s ease-in-out;

}
.social-card:hover {
  box-shadow: 0px 8px 24px rgba(66, 74, 83, 0.12),
    0px 1px 3px rgba(66, 74, 83, 0.12);
    color: #000000;
    text-decoration: none;
    
}
.social-card-title{
  display: flex;
justify-content: start;  
align-items: center;
}
.social-card-title h2{
 margin: 0 0 0 16px ;
}
.social-card-title-icon {
  max-width: 26px;
  max-height: 26px !important ;
}
.social-card-arrow{
  position: absolute;
  top: 12%;
  right: 3%;
}

@media screen and (max-width: 1100px) {
  .first-page-header {
    flex-direction: column;
  }
}

@media screen and (max-width: 900px) {
  .first-page-image {
    display: none ;
  }
  
  .first-page-header {
   width: auto;
  }
  .first-page-header-title{
    max-width: 595px;
    height: auto;
  }
  .first-page-header-title{
  margin-top: 30px;
   width: 100%;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   padding: 0 15px 0 15px;
  }
  .explore-apis-section-section{
    width: 100%;
  }
  .explore-apis-section-h1{
    margin-top: 20px;
    /* padding-left: 45px ; */
  }
  .explore-apis-section-container{
    margin-top:0 ;
    
  }
  .explore-apis-section-card {
    margin-top: 5px ;
  }

  .social-card{
    justify-content: center;
    align-items: center;
    /* width: 86%; */
    /* padding: 10px 0 10px 8px; */
 }
 
 .social-section{
  width: 100%;
  margin-top: 10px;
}



}
@media screen and (max-width: 600px) {
.explore-apis-section-card{
  width: 100%;
  margin:15px 20px 0 0;
}
.explore-apis-section-section{
  width: 100%;
}
}

@media screen and (max-width: 968px) {
  .DocSearch{
    width: auto;
  }
}
  
.api-method > .menu__link {
  align-items: center;
  justify-content: start;
}

.api-method > .menu__link::before {
  width: 50px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius:100px;
  border: 1px solid;
  margin-right: var(--ifm-spacing-horizontal);
  text-align: center;
  flex-shrink: 0;
  border-color: transparent;
  color: white;
}

.get > .menu__link::before {
  content: "get";
  background-color: #0A7500;
}

.post > .menu__link::before {
  content: "post";
  background-color: #000C75;
}

.delete > .menu__link::before {
  content: "del";
  background-color: #FF4242;
}

.put > .menu__link::before {
  content: "put";
  background-color: #FF9100;
}

.patch > .menu__link::before {
  content: "patch";
  background-color: var(--openapi-code-orange);
}

.head > .menu__link::before {
  content: "head";
  background-color: var(--ifm-color-secondary-darkest);
}


.menu__link--active:not(.menu__link--sublist) {
  background-color: #B4F9BA;
}

.theme-api-markdown .alert{
  background-color:#ffffff;
  border-color: transparent;
  --docusaurus-details-decoration-color:#000;
  
}

.card{
  color:#000 !important;
}


.collapsibleContent_node_modules-\@docusaurus-theme-common-lib-components-Details-styles-module{
  border-top: none !important;
}
.openapi-tabs__schema-item.active{
  border: 1px solid #ffffff !important;
  color: #ffffff !important;
}