/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@font-face {
  font-family: 'Mona Sans';
  src: url('./MonaSans/Mona-Sans.woff2') format('woff2 supports variations'),
    url('./MonaSans/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

:root {
  --ifm-background-color: #f3f3f3;
  --ifm-color-primary: #000000;
  --ifm-color-primary-dark: #0a4a02;
  --ifm-color-primary-darker: #094602;
  --ifm-color-primary-darkest: #083901;
  --ifm-color-primary-light: #0c5a02;
  --ifm-color-primary-lighter: #0d5e02;
  --ifm-color-primary-lightest: #0e6b03;
  --ifm-code-font-size: 95%;
  --ifm-font-family-base: 'Mona Sans';
  --ifm-navbar-link-color: #b3b3b3;
  --ifm-menu-color: #b3b3b3;
  --ifm-breadcrumb-item-background-active: transparent;
  --ifm-col-width: 250px !important;
}
[data-theme='dark'] {
  --ifm-color-primary: #89f397;
  --ifm-color-primary-dark: #67ef79;
  --ifm-color-primary-darker: #55ee69;
  --ifm-color-primary-darkest: #22e83c;
  --ifm-color-primary-light: #abf7b5;
  --ifm-color-primary-lighter: #bdf8c5;
  --ifm-color-primary-lightest: #f0fef2;
  --ifm-col-width: 250px !important;
}

.breadcrumbs__link {
  color: #b3b3b3;
}
:root .DocSearch {
  --docsearch-primary-color: var(--ifm-color-primary);
  /* --docsearch-highlight-color: var(--ifm-color-primary); */
  /* --docsearch-searchbox-background: var(--ifm-color-primary); */
  /* --docsearch-text-color: var(--ifm-font-color-base); */
  --docsearch-muted-color: rgba(94, 100, 112, 0.7);
  --docsearch-container-background: rgba(94, 100, 112, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-color-secondary-lighter);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-color-secondary);
  --docsearch-searchbox-focus-background: var(--ifm-color-white);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  /* --docsearch-hit-background: red;
  --docsearch-highlight-color: red; */
  --docsearch-searchbox-shadow: inset #000000 0 0 0 1px;
  /* Footer */
  --docsearch-footer-background: var(--ifm-color-white);
}

.DocSearch-Logo {
  display: none;
}

.theme-doc-footer-edit-meta-row {
  background-color: #f3f3f3;
}

.footer__copyright {
  text-align: left !important;
  color: #666666;
  margin-top: 66px;
}

.theme-doc-sidebar-item-link.theme-doc-sidebar-item-link-level-1.menu__list-item
  a {
  color: #000000;
}
.theme-doc-sidebar-item-category.theme-doc-sidebar-item-category-level-2.menu__list-item.menu__list-item--collapsed
  a {
  color: #b3b3b3;
}

.menu__link--active {
  font-weight: 600;
}

.menu__link--active a {
  background-color: #b4f9ba !important;
}

.theme-doc-markdown.markdown a {
  color: #3d39fc;
}

.theme-doc-sidebar-menu {
  padding-top: 20px;
}
.theme-doc-sidebar-menu li {
  padding-top: 3px;
}
.menu__list-item-collapsible {
  flex-direction: row-reverse;
}
.menu__list-item-collapsible--active {
  background-color: #b4f9ba !important;
}
.menu__link.menu__link--sublist {
  padding-left: 0;
}
.menu__link {
  padding-left: 10px;
}
.menu__caret {
  padding-right: 0;
  padding-left: 0;
}
.menu__list-item menu__link {
  color: #000;
}

.menu__list-item-collapsible :hover {
  color: #000;
}
.menu__link.menu__link--sublist.menu__link--active {
  font-weight: 600;
}

.menu__caret:before {
  background: var(--ifm-menu-link-sublist-icon) 50%/1.25rem 1.25rem;
}
.menu__link {
  font-size: 15px;
}
.menu__link--sublist {
  color: #000;
}

[data-theme='dark'] .footer {
  background: #1b1b1d !important;
}

[data-theme='dark'] .pagination-nav {
  background: #1b1b1d;
}
.navbar {
  box-shadow: none;
  background-color: #f3f3f3;
  border-bottom: 1px solid #e5e5e5;
}
.navbar img {
  width: 150px;
}

.DocSearch {
  width: 300px;
  height: 20px;
}
.first-page-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 16px 0 0;
  width: 1118px;
}
.first-page-header-title {
  margin-top: 70px;
  max-width: 595px;
}
.first-page-header-title p {
  margin-top: 16px;
  width: 100%;
  max-width: 499px;
  font-size: 16px;
  line-height: 28.8px;
  color: #666666;
}
.first-page-image {
  max-width: 509px;
  max-height: 267px;
}

.explore-apis-section {
  max-width: 1200px;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.explore-apis-section-h1 {
  font-size: 20px !important;
  font-weight: 700;
  width: 94%;
}
.explore-apis-section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.explore-apis-section-card {
  width: 362px;
  border-radius: 12px;
  padding: 16px;
  background-color: #fff;
  margin: 20px 16px 0 0;
  height: 140px;
  transition: all 0.2s;
}
.explore-apis-section-card:hover {
  box-shadow: 0px 8px 24px rgba(66, 74, 83, 0.12),
    0px 1px 3px rgba(66, 74, 83, 0.12);
  text-decoration: none;
}
.explore-apis-section h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
}
.explore-apis-section p {
  font-size: 14px;
  line-height: 20px;
  color: #737373;
}

.social-section {
  margin-top: 100px;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.governance-card {
  width: 551px;
  border-radius: 12px;
  background-color: #ffffff;
  height: 135px;
  padding: 22px 0 23px 22px;
  margin: 16px 16px 0 0;
  color: #000000;
  position: relative;
  transition: all 0.2s ease-in-out;
  white-space: pre-line;
}
.governance-card p {
  color: #737373;
}

.governance-card:hover {
  box-shadow: 0px 8px 24px rgba(66, 74, 83, 0.12),
    0px 1px 3px rgba(66, 74, 83, 0.12);
  color: #000000;
  text-decoration: none;
}
.governance-card-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 1100px) {
  .first-page-header {
    flex-direction: column;
    align-items: center;
  }
  .first-page-header {
    width: auto;
  }
}

@media screen and (max-width: 900px) {
  .governance-card {
    padding-top: 10px;
  }
  .governance-card {
    padding-top: 10px;
  }
  .governance-card h2 {
    font-size: 18px;
    margin-bottom: 2px;
  }

  .first-page-image {
    display: none;
  }

  .first-page-header {
    width: auto;
  }
  .first-page-header-title {
    max-width: 595px;
    height: auto;
  }
  .first-page-header-title {
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 15px 0 15px;
  }
  .explore-apis-section-section {
    width: 100%;
  }
  .explore-apis-section-h1 {
    margin-top: 20px;
    /* padding-left: 45px ; */
  }
  .explore-apis-section-container {
    margin-top: 0;
  }
  .explore-apis-section-card {
    margin-top: 5px;
  }

  .social-section {
    width: 100%;
    margin-top: 10px;
  }
}
@media screen and (max-width: 600px) {
  .explore-apis-section-card {
    width: 100%;
    margin: 15px 20px 0 0;
  }
  .explore-apis-section-section {
    width: 100%;
  }
}

@media screen and (max-width: 968px) {
  .DocSearch {
    width: auto;
  }
}

.api-method > .menu__link {
  align-items: center;
  justify-content: start;
}

.api-method > .menu__link::before {
  width: 50px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 100px;
  border: 1px solid;
  margin-right: var(--ifm-spacing-horizontal);
  text-align: center;
  flex-shrink: 0;
  border-color: transparent;
  color: white;
}

.get > .menu__link::before {
  content: 'get';
  background-color: #0a7500;
}

.post > .menu__link::before {
  content: 'post';
  background-color: #000c75;
}

.delete > .menu__link::before {
  content: 'del';
  background-color: #ff4242;
}

.put > .menu__link::before {
  content: 'put';
  background-color: #ff9100;
}

.patch > .menu__link::before {
  content: 'patch';
  background-color: var(--openapi-code-orange);
}

.head > .menu__link::before {
  content: 'head';
  background-color: var(--ifm-color-secondary-darkest);
}

.menu__link--active:not(.menu__link--sublist) {
  background-color: #b4f9ba;
}

.theme-api-markdown .alert {
  background-color: #ffffff;
  border-color: transparent;
  --docusaurus-details-decoration-color: #000;
}

.card {
  color: #000 !important;
}

.collapsibleContent_node_modules-\@docusaurus-theme-common-lib-components-Details-styles-module {
  border-top: none !important;
}
.openapi-tabs__schema-item.active {
  border: 1px solid #ffffff !important;
  color: #ffffff !important;
}
